<div id="<%= dom_id event %>" class="mb-5">
  <div>
    <h4>
      <%= event.title %>
    </h4>
  </div>
  <div class="mb-3">
    <div class="d-inline-block me-3">
      <span class="">From : </span>
      <%= event.formated_start_time %>
    </div>
    <div class="d-inline-block">
      <span class="">To : </span>
      <%= event.formated_end_time %>
    </div>
    <% unless viewEventDetails %>
      <div>
        Total guests - <%= event.event_guests.count %>
      </div>
    <% end %>
  </div>
  <div class="text-muted mb-4">
    <span class="fs-italic">Description - </span>
    <%= event.description %>
  </div>

  <% if viewEventDetails %>
    <div class="">
      <div class="border-bottom border-2 border-primary mb-2">
        <h4>Guests</h4>
      </div>
      <div class="row">
        <% event.event_guests.each do |event_guest| %>
          <div class="col-4 p-2">
            <div class="bg-light d-flex align-items-center p-2 rounded">
              <div class="me-3">
                <div class="rounded-circle border border-3 <%= 'border-success' if event_guest.google_event_id.present? %>">
                  <%= image_tag event_guest.user.profile, style: "width: 50px; border-radius:50%", class: "border border-2 border-light" %>
                </div>
              </div>
              <div>
                <%= event_guest.user.decorate.full_name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>