<div class="container p-3 mt-3" style="width: 800px;">
  <h4 class="text-center mb-4">User Profile</h4>
  <% if notice.present? %>
    <div class="alert alert-info text-center">
      <%= notice %>
    </div>
  <% end %>
  <div class="mx-auto mt-4 border border-dark-50 rounded p-3">
    <%= render partial: "user", locals: { user: @user, viewUserDetail: true } %>

    <div class="d-flex justify-content-center">
      <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary me-2" %>
      <%= link_to "Back to users", users_path, class: "btn btn-secondary me-2" %>

      <%= button_to t('buttons.common.delete', data: "User"), @user, method: :delete, class: "btn btn-danger me-2" %>

      <% if @user.google_token.present? %>
        <%= button_to "Disconnect google account", "/disconnect_google/#{@user.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      <% else %>
        <%= button_to "Sign in to google account", "/auth/google_oauth2", data: { turbo: false }, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

